* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(./background.png);
    background-size:cover;

}

.comic-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    border-radius: 4 px;
}

.comic-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}


.comic-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.group:nth-child(1) {
    min-height: 19rem;    
}

.comic-logo {
    height: 4rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.comic-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.comic-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160,160,160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(./apple.png);
}

.app-download:nth-child(2){
    background-image: url(./google.png);
}



/* media queries */
@media(max-widht: 1024px) {
    .comic-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) { 
    body {
        background-color: white;
    }
    .comic-wrapper {
        width: 90%;
    }

    .comic-phone {
        display: none;
    }

    .comic-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}